.page{
    width: 1920px;
    height: 1080px;
    display: flex;
    flex-direction: row;
}

.contents{
    display: flex;
    flex-direction: column;
}

.left{
    position: absolute; /* 노란색 영역이 위로 올라가도록 절대 위치 지정 */
    z-index: 10; /* z-index를 높여서 다른 요소 위로 올라오게 함 */
}

.top{
    position: relative; /* 이 요소는 상대적 위치로, 노란색과 겹칠 수 있음 */
    z-index: 1; /* z-index를 낮춰서 노란색 박스 뒤로 배치 */
}

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 370px;
    flex-grow: 1; /* 빈 공간을 채워서 하단으로 밀어내기 */
}


