.LoadingComponent {
  width: 1920px;
  height: 1080px;
  background-color: rgba(255, 255, 255, 0.1);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.texts {
  display: flex;
}

.center {
  position: relative;
  width: 235px;
  height: 384px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CharacterImage {
  position: absolute;
  z-index: 1;
  width: 164px;
  height: 384px;
}

.spinner {
  position: absolute;
  z-index: 0;
  width: 235px;
  height: 235px;
  animation: rotate 1.8s linear infinite;
}

.slice {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 15px solid transparent;
  border-top-color: var(--color-main);
  border-radius: 50%;
  animation: fade 1.5s infinite ease-in-out both;
}

/* spinner 애니메이션과 지연 시간 설정 */
.slice:nth-child(1) {
  transform: rotate(45deg);
  animation-delay: -1.4s;
}
.slice:nth-child(2) {
  transform: rotate(90deg);
  animation-delay: -1.3s;
}
.slice:nth-child(3) {
  transform: rotate(135deg);
  animation-delay: -1.2s;
}
.slice:nth-child(4) {
  transform: rotate(180deg);
  animation-delay: -1.1s;
}
.slice:nth-child(5) {
  transform: rotate(225deg);
  animation-delay: -1s;
}
.slice:nth-child(6) {
  transform: rotate(270deg);
  animation-delay: -0.9s;
}
.slice:nth-child(7) {
  transform: rotate(315deg);
  animation-delay: -0.8s;
}
.slice:nth-child(8) {
  transform: rotate(360deg);
  animation-delay: -0.7s;
}

/* 점 깜빡임 애니메이션 */
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* 첫 번째 점 */
.dot1 {
  animation: blink 2s infinite;
  animation-delay: 0s;
}

/* 두 번째 점 */
.dot2 {
  animation: blink 2s infinite;
  animation-delay: 0.5s; /* 0.5초 지연 */
}

/* 세 번째 점 */
.dot3 {
  animation: blink 2s infinite;
  animation-delay: 1s; /* 1초 지연 */
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade {
  0%,
  39%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
