@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&family=Noto+Sans+JP:wght@400;500;700;900&family=Noto+Sans:wght@400;500;700;900&display=swap");

:root {
  /* fonts */
  --font-noto-sans: "Noto Sans";

  /* font sizes -- 수정 후 */
  --font-large-title: 32px;
  --font-title1: 26px;
  --font-title2: 22px;
  --font-title3: 20px;
  --font-body1: 18px;
  --font-body2: 16px;
  --font-body3: 13px;
  --font-caption: 12px;

  /* Colors */
  --color: #fff;
  --color1: #000;
  --color2: #adb3bb;
  --color3: #6b7685;
  --color-darkslategray: #333;
  --color4: #d9d9d9;
  --color-red: #ff0000;

  /* Colors -- 수정 후 */
  --color-black: #000000;
  --color-white: #ffffff;
  --color-main: #f9d67b;
  --color-gray1: #d9d9d9;
  --color-gray2: #adb3bb;
  --color-gray3: #6b7685;
  --color-dangoIvory: #fffff0;
  --color-dangoPink: #ffc0cb;
  --color-dangoGreen: #4caf50;
  --color-tomato: #ff6347;
  --color-mint: #a5d8a1;

}
