.levelTestFinishPageForm {
    display: flex;
    width: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 510px;
    gap: 132px;
}

.firstText{
    display: flex;
}

.texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}



.button {
    transition: all 0.3s ease; /* 부드러운 트랜지션 효과 */
}

.button:hover {
    transform: translateY(-8px); /* 마우스를 올리면 버튼이 5px 위로 이동 */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* 살짝 그림자 효과 추가 */
}