.page {
  width: 1920px;
  height: 1080px;
  display: flex;
  flex-direction: row;
}

.wrapper {
  width: 1790px;
  display: flex;
}

.contents {
  width: 1490px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  padding-left: 300px;
}

.left {
  position: absolute;
  z-index: 10;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 70px;
  padding-right: 70px;
  flex-grow: 1; /* 빈 공간을 채워서 하단으로 밀어내기 */
}
