.SpeedGamePageForm{
    width: 1920px;
    height: 1080px;
    position: relative;
    display: flex;
    flex-direction: row;
}

.contents{
    width: 1790px;
    height: 1080px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 130px;
    padding-bottom: 75px;
    box-sizing: border-box;
}

.middle{
    position: absolute;
    top: 300px;
}