/* 기본 레이아웃 설정 */
.ConnectionGameMy {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.Character {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.images {
    position: relative;
    width: 410px; /* 이미지 컨테이너 너비 */
    height: 600px; /* 이미지 컨테이너 높이 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.characterImage {
    position: absolute;
    width: 250px;
    height: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.heartImage {
    position: absolute;
    width: 402px;
    height: 352px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.rainImage {
    position: absolute;
    width: 410px;
    height: 375px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
